* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  color: #1d1e18;
}

body,
input,
button {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
}

body {
  position: relative;
}

input,
button {
  padding: 0.8rem;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
}
